:root{
    --fuente1:'PT Serif', serif;
    --fuente2: "Poppins", sans-serif;
}

body {  
margin: 0;
padding: 0;
box-sizing: border-box;
}
main{
    display: grid;
    grid-template: repeat(10,1fr)/repeat(2,1fr);

    width: auto;
    height: 100vh;
}
